@model HomeVM

<div id="scrollsmoother-container">

    <main>
        <!-- Start Hero -->
        <section>

            <div class="ak-hero ak-style1">
                <img class="ak-hero-bg ak-bg" src="~/assets/img/slider.jpg" />
                <div class="hero-text-section container-fluid">
                    <div class="ak-slider ak-slider-1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="slider-info">
                                    <div class="hero-title">
                                        <h1 class="hero-main-title">Elegance Retreat</h1>
                                        <h1 class="hero-main-title-1">Restaurant</h1>
                                    </div>

                                    <div class="ak-height-30 ak-height-lg-30"></div>
                                    <div>
                                        <p class="hero-sub-text text-light fw-medium ">
                                            Welcome to our restaurant, where culinary artistry
                                            meets exceptional dining experiences. At, we strive to create a
                                            gastronomic haven that tantalizes your taste buds and leaves you with
                                        </p>
                                    </div>
                                    <div class="ak-height-70 ak-height-lg-30"></div>
                                    <a asp-controller="reservation" asp-action="create" class="hero-btn style-1">
                                        <div class="ak-btn style-5 color-yellow-bg">
                                            Reservations
                                        </div>
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End Hero -->
        <!-- Start Sliding Text -->
        <div class="ak-moving-section-wrap ak-normal text-uppercase">
            <div class="ak-moving-section-in">
                <div class="ak-moving-section">
                    <h2>
                        <span>Embark </span>on a gastronomic <span>adventure </span>, guided by <span>
                            our
                            exquisite
                        </span> dishes
                    </h2>
                </div>
                <div class="ak-moving-section">
                    <h2>
                        <span>Embark </span>on a gastronomic <span>adventure</span>, guided by <span>
                            our
                            exquisite
                        </span> dishes
                    </h2>
                </div>
            </div>
        </div>
        <!-- End Sliding Text -->
        <!-- Start About -->
        <section class="ak-about-bg-color">
            <div class="ak-height-150 ak-height-lg-60"></div>
            <div class="ak-about ak-style-1">
                <div class="ak-about-bg-img ak-bg">
                    <img class="imagesZoom" src="~/assets/img/bg-4(slider).jpg" alt="...">
                </div>
                <div class="ak-about-hr"></div>
                <div class="container">
                    <div class="about-section ak-about-1">
                        <div class="about-text-section">
                            <h2 class="about-title">
                                Exquisite Dining Experience Fit for
                                <br><span class="anim-title-2">Royalty</span>
                            </h2>
                            <div class="ak-height-35 ak-height-lg-30"></div>
                            <p class="about-subtext">
                                Welcome to our restaurant, where culinary artistry meets
                                exceptional dining experiences. Elegencia specializes in delicious food featuring fresh ingredients and masterful preparation by the Elegencia culinary team.
                                Whether you’re ordering a multi-course meal or grabbing a drink and pizza at the bar,
                                Elegencia’s lively,
                                casual yet upscale atmosphere makes it perfect for dining with friends, family,
                                clients and business associates.
                            </p>

                            <div class="ak-height-50 ak-height-lg-30"></div>
                            <div class="text-btn">
                                <a asp-controller="about" class="text-btn1">
                                    About Us
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ak-height-150 ak-height-lg-60"></div>
        </section>
        <!-- End About -->
        <!-- Start Opening Hour -->
        <section class="ak-bg-secendary">

            <div class="opening-hour">
                <div class="opening-hour-img-section ">
                    <img src="~/assets/img/opening-hours.jpg" class="opening-bg-img ak-bg" alt="..." data-speed="auto">
                    <div class="overlap-opening-img"></div>
                </div>
                <div class="opening-hour-text-section pe-1">
                    <h2 class="opening-hour-title anim-title-2">Opening Hours </h2>
                    <div class="ak-height-30 ak-height-lg-30"></div>
                    <p class="opening-hour-subtext">
                        Lorem to our restaurant, where culinary artistry meets
                        exceptional dining experiences. At, we strive to create a gastronomic haven that.
                    </p>
                    <div class="ak-height-30 ak-height-lg-30"></div>
                    <div class="opening-hour-date">
                        <p>MONDAY-FRIDAY: @Model.Service["Weekdays"]</p>
                        <div class="opening-hour-hr"></div>
                        <p>SATURDAY & SUNDAY: @Model.Service["Weekend"]</p>
                    </div>
                    <div class="ak-height-70 ak-height-lg-30"></div>
                    <div class="text-btn">
                        <a href="reservations.html" class="text-btn1">
                            Reservation
                        </a>
                    </div>

                    <div class="ak-height-lg-60"></div>

                </div>
            </div>

        </section>
        <!-- End  Opening Hou  -->
        <!-- Start Food item show case -->
        <section>
            <div class="ak-height-150 ak-height-lg-60"></div>
            <div class="container-fluid">
                <div class="ak-section-heading ak-style-1 ak-type-1">
                    <div class="ak-section-subtitle">Food Items</div>
                    <h2 class="ak-section-title anim-title">Food Showcase</h2>
                </div>
                <div class="ak-height-65 ak-height-lg-30"></div>
                <div class="ak-slider ak-slider-2">
                    <div class="swiper-wrapper">
                        @foreach (Meal showcase in Model.Meals)
                        {
                            <div class="swiper-slide">
                                <div class="ak-card ak-style-1">
                                    <a href="portfolio-details.html" class="ak-card-img">
                                        <img src="assets/img/@showcase.MealImages.FirstOrDefault()?.Image" alt="@showcase.Name" />
                                    </a>
                                    <div class="card-info">
                                        <div class="card-text style-1">
                                            <a href="portfolio-details.html">
                                                <h5 class="card-title">
                                                    @showcase.Name
                                                </h5>
                                            </a>
                                            <div class="card-subtitle">
                                                @showcase.Category.Name
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
                <div class="container">
                    <div class="ak-next-prev-2">
                        <div class="ak-next-prev-2 ak-style-1">
                            <div class="ak-swiper-button-prev-2">
                                <button class="btn-style-2 btn-size btn-style-round button-prev-next-2 rotate-svg"
                                        aria-disabled="false">
                                    <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
                                        <g stroke="#fff" fill="none" fill-rule="evenodd">
                                            <path d="M12.743 1.343L18.4 7l-5.657 5.657M18.4 7H.4"></path>
                                        </g>
                                    </svg>
                                    <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
                                        <g stroke="#fff" fill="none" fill-rule="evenodd">
                                            <path d="M12.743 1.343L18.4 7l-5.657 5.657M18.4 7H.4"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <div class="ak-pagination-2 ak-style1"></div>
                            <div class="ak-swiper-button-next-2">
                                <button class="btn-style-2 btn-size btn-style-round button-prev-next-2"
                                        aria-disabled="false">
                                    <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
                                        <g stroke="#fff" fill="none" fill-rule="evenodd">
                                            <path d="M12.743 1.343L18.4 7l-5.657 5.657M18.4 7H.4"></path>
                                        </g>
                                    </svg>
                                    <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
                                        <g stroke="#fff" fill="none" fill-rule="evenodd">
                                            <path d="M12.743 1.343L18.4 7l-5.657 5.657M18.4 7H.4"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Food item show case -->
        <!-- Start Food Menu -->
        <section>
            <div class="ak-height-150 ak-height-lg-60"></div>
            <div class="container">
                <div class="ak-section-heading ak-style-1 ak-type-1">
                    <div class="ak-section-subtitle">
                        Special Selection
                    </div>
                    <h2 class="ak-section-title anim-title">Food Menu</h2>
                </div>
                <div class="ak-height-65 ak-height-lg-30"></div>
                <div class="ak-menu-list">
                    @foreach (Meal menu in Model.Meals)
                    {
                        <div class="ak-menu-list-section-1">
                            <img src="~/assets/img/@menu.MealImages.FirstOrDefault()?.Image" alt="@menu.Name">
                            <div class="food-menu style-1">
                                <div class="food-menu-section-1">
                                    <div class="food-menu-title">
                                        <p>@menu.Name</p>
                                    </div>
                                    <div class="food-menu-hr">
                                        <div class="food-menu-hr style-1"></div>
                                        <div class="food-menu-hr style-1"></div>
                                    </div>
                                    <div class="food-menu-price">
                                        <p>$@menu.Price</p>
                                    </div>
                                </div>
                                <div class="food-menu-section-2">

                                    <div class="food-menu-price-subsitle">
                                        <p>@menu.Category.Name</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
                <div class="ak-height-20 ak-height-lg-20"></div>
                <div class="text-md-center">
                    <div class="text-btn">
                        <a asp-controller="menu" class="text-btn1">
                            View More
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Food Menu -->


        <div class="ak-height-150 ak-height-lg-60"></div>
        <!-- Start Best Item -->
        <section>
            <div class="container">
                <div class="ak-best-item">
                    <div class="best-item-section-1">
                        <div class="ak-section-heading ak-style-1">
                            <div class="ak-section-subtitle">
                                Our food philosophy
                            </div>
                            <h2 class="ak-section-title anim-title-2">
                                <span class="text-white"> Our</span> <br>
                                Specialties
                            </h2>
                        </div>
                        <div class="ak-height-30 ak-height-lg-30"></div>
                        <div>
                            <p>
                                Welcome to our restaurant, where culinary artistry meets exceptional dining
                                experiences. At, we strive to create a gastronomic haven that tantalizes your taste
                                buds.
                            </p>
                        </div>
                        <div class="ak-height-50 ak-height-lg-30"></div>
                        <div class="img-one">
                            <img src="~/assets/img/special.jpg" alt="..." data-speed="1.2" data-lag="0">
                            <div class="img-overlay"></div>
                        </div>
                    </div>
                    <div class="best-item-section-2" data-speed="1.1" data-lag="1">
                        <img src="~/assets/img/star_line.svg" alt="...">
                    </div>
                    <div class="best-item-section-3">
                        <div class="img-two">
                            <img src="~/assets/img/special-1-2.jpg" alt="..." data-speed="1.1" data-lag="0">
                            <div class="img-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Best Item -->


        <div class="ak-height-150 ak-height-lg-60"></div>

        <div class="ak-height-150 ak-height-lg-60"></div>
        <!-- Start Booking System -->
        <section>
            <div class="ak-booking-system">
                <img class="ak-booking-system-bg-img ak-bg imagesZoom" src="~/assets/img/reservation.jpg"
                     alt="...">
                <div class="ak-height-150 ak-height-lg-60"></div>
                <div class="container">
                    <div class="row justify-content-center align-content-center align-items-center">
                        <div class="col-md-6 col-12">
                            <div class="ak-height-lg-60"></div>
                            <div class="text-center">
                                <a href="https://www.youtube.com/watch?v=UsD1MhKBmD4"
                                   class="ak-video-block ak-style1 ak-video-open">
                                    <span class="ak-player-btn ak-accent-color">
                                        <span></span>
                                    </span>
                                </a>
                            </div>
                            <div class="ak-height-lg-60"></div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="booking-system-heading">
                                <div class="ak-section-heading ak-style-1">
                                    <div class="ak-section-subtitle">
                                        Reservations
                                    </div>
                                    <h2 class="ak-section-title anim-title-2">
                                        Reservations
                                    </h2>
                                </div>
                                <div class="ak-height-60 ak-height-lg-30"></div>
                                <div class="booking-system-form">
                                    <form method="post">
                                        <div class="select">
                                            @* @Html.DropDownListFor(d => d.NumberOfPeople, new SelectList(ViewBag.people, "Value", "Text")) *@
                                            <select class="ak-form-select" asp-for="@Model.reservationVM.NumberOfPeople">
                                                <option disabled selected value="0">Number of people</option>
                                                <option value="1">1 person</option>
                                                <option value="2">2 people</option>
                                                <option value="3">3people</option>
                                                <option value="4">4 people</option>
                                                <option value="5">5 people</option>
                                                <option value="6">6 people</option>
                                                <option value="7">More</option>
                                            </select>
                                            <div class="select-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="10"
                                                     viewBox="0 0 18 10" fill="none">
                                                    <path d="M8.99516 9.502C8.80335 9.502 8.61135 9.42869 8.46491 9.28225L0.964914 1.78225C0.671852 1.48919 0.671852 1.01463 0.964914 0.72175C1.25798 0.428875 1.73254 0.428688 2.02541 0.72175L8.99516 7.6915L15.9649 0.72175C16.258 0.428688 16.7325 0.428688 17.0254 0.72175C17.3183 1.01481 17.3185 1.48937 17.0254 1.78225L9.52541 9.28225C9.37898 9.42869 9.18698 9.502 8.99516 9.502Z"
                                                          fill="#FFD28D" />
                                                </svg>
                                            </div>
                                        </div>
                                        <span asp-validation-for="@Model.reservationVM.NumberOfPeople" class="text-danger"></span>
                                        <div class="ak-form-time-date">
                                            <div class="ak-time">
                                                <input value="10:00" class="time-input" asp-for="@Model.reservationVM.Time"
                                                       id="time">

                                                <div class="time-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25"
                                                         viewBox="0 0 24 25" fill="none">
                                                        <g clip-path="url(#clip0_1166_8212)">
                                                            <path d="M12 24.002C5.38581 24.002 0 18.6161 0 12.002C0 5.38777 5.38581 0.00195312 12 0.00195312C18.6142 0.00195312 24 5.38777 24 12.002C24 18.6161 18.6142 24.002 12 24.002ZM12 1.14474C6.01423 1.14474 1.14279 6.01618 1.14279 12.002C1.14279 17.9877 6.01423 22.8592 12 22.8592C17.9858 22.8592 22.8572 17.9877 22.8572 12.002C22.8572 6.01618 17.9858 1.14474 12 1.14474Z"
                                                                  fill="#FFD28D" />
                                                            <path d="M11.4287 4.00195H12.5717V10.2876H11.4287V4.00195Z"
                                                                  fill="#FFD28D" />
                                                            <path d="M11.4287 13.7168H12.5717V16.5739H11.4287V13.7168Z"
                                                                  fill="#FFD28D" />
                                                            <path d="M12.0001 14.2884C10.7431 14.2884 9.71436 13.2596 9.71436 12.0026C9.71436 10.7455 10.7431 9.7168 12.0001 9.7168C13.2572 9.7168 14.2859 10.7455 14.2859 12.0026C14.2859 13.2596 13.2572 14.2884 12.0001 14.2884ZM12.0001 10.8598C11.3715 10.8598 10.8574 11.374 10.8574 12.0026C10.8574 12.6312 11.3715 13.1454 12.0001 13.1454C12.6288 13.1454 13.1429 12.6312 13.1429 12.0026C13.1429 11.374 12.6288 10.8598 12.0001 10.8598Z"
                                                                  fill="#FFD28D" />
                                                        </g>
                                                        <defs>
                                                            <clipPath id="clip0_1166_8212">
                                                                <rect width="24" height="24" fill="white"
                                                                      transform="translate(0 0.00195312)" />
                                                            </clipPath>
                                                        </defs>
                                                    </svg>
                                                </div>


                                            </div>

                                            <div class="ak-date">
                                                <input class="date-input" asp-for="@Model.reservationVM.Date"
                                                       id="date">
                                                <div class="date-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                         viewBox="0 0 25 25" fill="none">
                                                        <mask id="mask0_1166_8220" style="mask-type:luminance"
                                                              maskUnits="userSpaceOnUse" x="0" y="0" width="25"
                                                              height="25">
                                                            <path d="M0.995117 0.140627H24.9951V24.1406H0.995117V0.140627Z"
                                                                  fill="white" />
                                                        </mask>
                                                        <g mask="url(#mask0_1166_8220)">
                                                            <path d="M12.0732 18.6094H13.917M17.6152 18.6094H19.4589M6.54198 18.6094H8.38571M12.0732 13.0781H13.917M17.6152 13.0781H19.4589M6.54198 13.0781H8.38571M1.93262 8.45311H24.0683M18.537 5.68749V1.07813M7.46387 5.68749V1.07813M5.63077 23.2031H20.3701C22.4125 23.2031 24.0683 21.5474 24.0683 19.5049V6.62006C24.0683 4.57763 22.4125 2.92186 20.3701 2.92186H5.63077C3.58834 2.92186 1.93262 4.57763 1.93262 6.62006V19.5049C1.93262 21.5474 3.58834 23.2031 5.63077 23.2031Z"
                                                                  stroke="#FFD28D" stroke-miterlimit="10"
                                                                  stroke-linecap="round" stroke-linejoin="round" />
                                                        </g>
                                                    </svg>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="ak-height-50 ak-height-lg-40"></div>
                                        <div class="ak-height-50 ak-height-lg-40"></div>
                                        <span asp-validation-for="@Model.reservationVM.Time" class="text-danger"></span>
                                        <span asp-validation-for="@Model.reservationVM.Date" class="text-danger"></span>
                                        <div class="ak-form-time-date">
                                            <div class="ak-time">
                                                <input placeholder="Name" asp-for="@Model.reservationVM.Name" class="time-input" type="text" name="name">

                                            </div>
                                            <div class="ak-date">
                                                <input placeholder="Email" asp-for="@Model.reservationVM.Email" class="date-input" type="email" name="email">
                                            </div>

                                        </div>

                                        <div class="ak-height-50 ak-height-lg-40"></div>
                                        <div class="ak-height-50 ak-height-lg-40"></div>
                                        <span asp-validation-for="@Model.reservationVM.Name" class="text-danger"></span>
                                        <span asp-validation-for="@Model.reservationVM.Email" class="text-danger"></span>


                                        <div>
                                            <button class="ak-btn style-5 color-yellow-bg" type="submit" formmethod="post">
                                                Reservations
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ak-height-150 ak-height-lg-60"></div>
            </div>
        </section>
        <!-- End Booking System -->
    </main>
    <div class="ak-height-150 ak-height-lg-60"></div>
