@model MenuVM

<div id="scrollsmoother-container">
    <!-- Start Hero -->
    <Section>
        <div class="ak-commmon-hero ak-style1 ak-bg">
            <img class="ak-commmon-hero ak-style1 ak-bg" src="~/assets/img/menu-bg-3.jpg" />
            <div class="ak-commmon-heading">
                <div class="ak-section-heading ak-style-1 ak-type-1 ak-color-1 page-top-title">
                    <div class="ak-section-subtitle">
                        <a asp-controller="home">Home</a> / Our Menu
                    </div>
                    <h2 class="ak-section-title page-title-anim">Our Menu</h2>
                </div>
            </div>
        </div>
    </Section>
    <!-- End Hero -->

    <div class="search-filed d-flex justify-content-center pt-2" >
        <form asp-controller="menu" asp-action="index">
            <input name="search" class="input-section rounded-pill"
                   type="text"
                   placeholder="Search"
                   value="@(Model.Search==null ? "" : Model.Search)" />
          
        </form>
        <button type="submit" class="search-icon rounded-pill">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
            </svg>
        </button>
        
    </div>

    <!-- Start Food Menu  Appetizers-->
    <section class="set-bg-img-section">
        @* <img src="~/assets/img/main-menu.jpeg" alt="..." data-speed="1.1" class="imagesZoom bg-img ak-bg"> *@
        <div class="ak-height-150 ak-height-lg-60"></div>
        <div class="container">
            <div class="ak-section-heading ak-style-1 ak-type-1">
                <div class="ak-section-subtitle">
                    Main Course
                </div>
                <h2 class="ak-section-title anim-title">Main Course</h2>
            </div>
            <div class="ak-height-65 ak-height-lg-30"></div>
            <div class="ak-menu-list">
                @foreach (Meal meal in Model.MainDishes)
                {
                    <div class="ak-menu-list-section-1">
                        <img src="~/assets/img/@meal.MealImages.FirstOrDefault()?.Image" alt="@meal.Name">
                        <div class="food-menu style-1">
                            <div class="food-menu-section-1">
                                <div class="food-menu-title">
                                    <p>@meal.Name</p>
                                </div>
                                <div class="food-menu-hr">
                                    <div class="food-menu-hr style-1"></div>
                                    <div class="food-menu-hr style-1"></div>
                                </div>
                                <div class="food-menu-price">
                                    <p>$@meal.Price</p>
                                </div>
                            </div>
                            <div class="food-menu-section-2">
                                <div class="food-menu-subsitle">
                                    <p>@meal.Category.Name</p>
                                </div>

                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
    <!-- End Food Menu Appetizers-->
    <!-- Start Salad Menu  -->
    <section class="set-bg-img-section">
        @* <img src="~/assets/img/salad.jpeg" alt="..." data-speed="1.1" class="imagesZoom bg-img ak-bg"> *@
        <div class="ak-height-150 ak-height-lg-60"></div>
        <div class="container">
            <div class="ak-section-heading ak-style-1 ak-type-1">
                <div class="ak-section-subtitle">
                    Soups And Salads
                </div>
                <h2 class="ak-section-title anim-title">Soups And Salads</h2>
            </div>
            <div class="ak-height-65 ak-height-lg-30"></div>
            <div class="ak-menu-list">
                @foreach (Salad salad in Model.Salads)
                {
                    <div class="ak-menu-list-section-1">
                        <img src="~/assets/img/@salad.Image" alt="@salad.Name">
                        <div class="food-menu style-1">
                            <div class="food-menu-section-1">
                                <div class="food-menu-title">
                                    <p>@salad.Name</p>
                                </div>
                                <div class="food-menu-hr">
                                    <div class="food-menu-hr style-1"></div>
                                    <div class="food-menu-hr style-1"></div>
                                </div>
                                <div class="food-menu-price">
                                    <p>$@salad.Price</p>
                                </div>
                            </div>
                            <div class="food-menu-section-2">
                                <div class="food-menu-subsitle">
                                    <p>@salad.Category.Name</p>
                                </div>

                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
    <!-- End Salad Menu -->
    <!-- Start Food Menu Desserts-->
    <section class="set-bg-img-section">
        @* <img src="~/assets/img/desserts.jpeg" alt="..." data-speed="1.1" class="bg-img ak-bg imagesZoom"> *@
        <div class="ak-height-150 ak-height-lg-60"></div>
        <div class="container">
            <div class="ak-section-heading ak-style-1 ak-type-1">
                <div class="ak-section-subtitle">
                    Sweet dreams
                </div>
                <h2 class="ak-section-title anim-title">Desserts</h2>
            </div>
            <div class="ak-height-65 ak-height-lg-30"></div>
            <div class="ak-menu-list">
                @foreach (Dessert dessert in Model.Desserts)
                {
                    <div class="ak-menu-list-section-1">
                        <img src="~/assets/img/@dessert.DessertImages.FirstOrDefault()?.Image" alt="@dessert.Name">
                        <div class="food-menu style-1">
                            <div class="food-menu-section-1">
                                <div class="food-menu-title">
                                    <p>@dessert.Name</p>
                                </div>
                                <div class="food-menu-hr">
                                    <div class="food-menu-hr style-1 anim-2"></div>
                                    <div class="food-menu-hr style-1 anim-2"></div>
                                </div>
                                <div class="food-menu-price">
                                    <p>$@dessert.Price</p>
                                </div>
                            </div>
                            <div class="food-menu-section-2">
                                <div class="food-menu-subsitle">
                                    <p>@dessert.DessertCategory.Name</p>
                                </div>

                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
    <!-- End Food Menu Desserts-->
    <!-- Start Food Menu Bar Items-->
    <section class="set-bg-img-section">
        @* <img src="~/assets/img/drink.jpeg" alt="..." data-speed="1.1" class="bg-img ak-bg imagesZoom"> *@
        <div class="ak-height-150 ak-height-lg-60"></div>
        <div class="container">
            <div class="ak-section-heading ak-style-1 ak-type-1">
                <div class="ak-section-subtitle">
                    Juice Bar
                </div>
                <h2 class="ak-section-title anim-title">Bar Items</h2>
            </div>
            <div class="ak-height-65 ak-height-lg-30"></div>
            <div class="ak-menu-list">
                @foreach (Drink drink in Model.Drinks)
                {
                    <div class="ak-menu-list-section-1">
                        <img src="~/assets/img/@drink.Image" alt="@drink.Name">
                        <div class="food-menu style-1">
                            <div class="food-menu-section-1">
                                <div class="food-menu-title">
                                    <p>@drink.Name</p>
                                </div>
                                <div class="food-menu-hr">
                                    <div class="food-menu-hr style-1 anim-3"></div>
                                    <div class="food-menu-hr style-1 anim-3"></div>
                                </div>
                                <div class="food-menu-price">
                                    <p>$@drink.Price</p>
                                </div>
                            </div>
                            <div class="food-menu-section-2">
                                <div class="food-menu-subsitle">
                                    <p>@drink.DrinkCategory.Name</p>
                                </div>

                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
    <div class="ak-section-heading ak-style-1 ak-type-1">
    <div class="ak-section-subtitle">
        PDF format of the Elegencia menu
    </div>
    </div>
    <div class="d-flex justify-content-center pt-2 ">
        <img style="width:150px;height:150px" src="~/assets/img/final-qr.png" />

    </div>
    <div class="ak-height-45 ak-height-lg-30"></div>

    <!-- End Food Menu Bar Items-->
