
@model AboutVM
<div id="scrollsmoother-container">
    <!-- Start Hero -->
    <Section>
        <div class="ak-commmon-hero ak-style1 ak-bg" >
            <img class="ak-commmon-hero ak-style1 ak-bg" src="~/assets/img/menu-bg-3.jpg" />
            <div class="ak-commmon-heading">
                <div class="ak-section-heading ak-style-1 ak-type-1 ak-color-1 page-top-title">
                    <div class="ak-section-subtitle">
                        <a asp-controller="home">Home</a> / About Us
                    </div>
                    <h2 class="ak-section-title page-title-anim">About Us</h2>
                </div>
            </div>
        </div>
    </Section>
    <!-- End Hero -->


    <!-- Start About -->
    <section class="ak-about-bg-color">
        <div class="ak-height-150 ak-height-lg-60"></div>
        <div class="ak-about ak-style-1">
            <div class="ak-about-bg-img ak-bg">
                <img class="imagesZoom" src="~/assets/img/bg-4(slider).jpg" alt="...">
            </div>
            <div class="ak-about-hr"></div>
            <div class="container">
                <div class="about-section ak-about-1">
                    <div class="about-text-section">
                        <h2 class="about-title">
                            Exquisite Dining Experience Fit for
                            <br><span class="anim-title-2">Royalty</span>
                        </h2>
                        <div class="ak-height-30 ak-height-lg-30"></div>
                        <p class="about-subtext">
                            Welcome to our restaurant, where culinary artistry meets
                            exceptional dining experiences. Elegencia specializes in delicious food featuring fresh ingredients and masterful preparation by the Elegencia culinary team.
                            Whether you’re ordering a multi-course meal or grabbing a drink and pizza at the bar,
                            Elegencia’s lively,
                            casual yet upscale atmosphere makes it perfect for dining with friends, family,
                            clients and business associates.
                        </p>
                      
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- End About -->
    <!-- Start Testimonial -->
    <section class="container">
        <div class="ak-height-150 ak-height-lg-60"></div>
        <div class="ak-slider ak-slider-3">
            <div class="swiper-wrapper">
                @foreach (var item in Model.Famous)
                {
                    <div class="swiper-slide">
                        <div class="container">
                            <div class="testimonial-section">
                                <div class="testimonial-icon-1">
                                    <img src="~/assets/img/testimonial_icon_r.svg" alt="...">
                                </div>
                                <div class="testimonial-info-section">
                                    <div class="testimonial-info">
                                        <img src="~/assets/img/@item.Image" class="testimonial-info-img" alt="...">
                                        <h6 class="testimonial-info-title">@item.Name @item.Surname</h6>
                                        <p class="short-title">From @item.Country</p>
                                        <p class="testimonial-info-subtitle">
                                            “@item.Opinion”
                                        </p>
                                    </div>
                                </div>
                                <div class="testimonial-icon-1">
                                    <img src="~/assets/img/testimonial_icon_r.svg" alt="...">
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div class="container">
            <div class="ak-swiper-controll-3">
                <div class="ak-swiper-navigation-wrap">
                    <div class="ak-swiper-button-prev-3">
                        <button class="btn-style-2 btn-size btn-style-round button-prev-next-2 rotate-svg"
                                aria-disabled="false">
                            <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
                                <g stroke="#fff" fill="none" fill-rule="evenodd">
                                    <path d="M12.743 1.343L18.4 7l-5.657 5.657M18.4 7H.4"></path>
                                </g>
                            </svg>
                            <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
                                <g stroke="#fff" fill="none" fill-rule="evenodd">
                                    <path d="M12.743 1.343L18.4 7l-5.657 5.657M18.4 7H.4"></path>
                                </g>
                            </svg>
                        </button>

                    </div>
                    <div class="ak-swiper-button-next-3">
                        <button class="btn-style-2 btn-size btn-style-round button-prev-next-2"
                                aria-disabled="false">
                            <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
                                <g stroke="#fff" fill="none" fill-rule="evenodd">
                                    <path d="M12.743 1.343L18.4 7l-5.657 5.657M18.4 7H.4"></path>
                                </g>
                            </svg>
                            <svg width="20" height="14" xmlns="http://www.w3.org/2000/svg">
                                <g stroke="#fff" fill="none" fill-rule="evenodd">
                                    <path d="M12.743 1.343L18.4 7l-5.657 5.657M18.4 7H.4"></path>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonial -->
    <!-- Start Opening Hour -->
    <section class="container">
        <div class="ak-height-150 ak-height-lg-60"></div>
        <div class="opening-hour type-2">
            <div class="opening-hour-img-section style-2">
                <img src="~/assets/img/opening-hours.jpg" class="imagesZoom opening-bg-img ak-bg" alt="...">
                <div class="overlap-opening-img"></div>
            </div>
            <div class="opening-hour-text-section type-2">
                <h2 class="opening-hour-title  anim-title-2">Opening Hours</h2>
                <div class="ak-height-30 ak-height-lg-30"></div>
                <p class="opening-hour-subtext">
                    Lorem to our restaurant, where culinary artistry meets exceptional
                    dining experiences. At, we strive to create a gastronomic haven that.
                </p>
                <div class="ak-height-30 ak-height-lg-30"></div>
                <div class="opening-hour-date">
                    <p>MONDAY - FRIDAY: @Model.Services["Weekdays"]</p>
                    <div class="opening-hour-hr"></div>
                    <p> SUNDAY & SATURDAY: @Model.Services["Weekend"]</p>
                </div>
                <div class="ak-height-70 ak-height-lg-30"></div>
                <div class="text-btn">
                    <a href="reservations.html" class="text-btn1">
                        Reservation
                    </a>

                </div>
            </div>
        </div>
    </section>
    <!-- End  Opening Hour  -->

    <div class="ak-height-150 ak-height-lg-60"></div>
    <!-- Start Video -->
    <div class="video-section">
        <img src="~/assets/img/video.jpg" alt="..." class="video-section-bg-img ak-bg imagesZoom"
             data-speed="1.1">
        <div class="video-section-btn">
            <a href="https://www.youtube.com/watch?v=UsD1MhKBmD4" class="ak-video-block ak-style1 ak-video-open">
                <span class="ak-player-btn ak-accent-color">
                    <span></span>
                </span>
            </a>
        </div>
    </div>
    <!-- End Video -->
