@using Elegencia.Application.ViewModels
@model UserVM

<main class="app-content">
    <div class="row user">


        @if (User.Identity.IsAuthenticated)
        {
            <div class="col-md-12">
                <div class="profile">
                    <div class="info">
                        <img class="user-img" src="~/assets/img/@Model.Image">
                        <h4>@Model.Name  @Model.Surname</h4>
                        @if (Model.Image != "user-image.jpg")
                        {
                            <a class="text-light nav-link" asp-controller="user" asp-action="deletephoto"><i class="bi bi-trash3"></i>Delete profile photo</a>
                        }

                    </div>
                    <div class="cover-image"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile p-0">
                    <ul class="nav flex-column nav-tabs user-tabs">
                        <li class="nav-item"><a class="nav-link" href="#user-settings" data-bs-toggle="tab">Settings </a></li>
                        <li class="nav-item"><a class="nav-link" href="#user-messages" data-bs-toggle="tab">@(Model.MessagesCount > 10 ? "10+" : Model.MessagesCount) @(Model.MessagesCount <= 1 ? "Message" : "Messages") </a></li>
                        <a class="nav-link" asp-area="" asp-controller="account" asp-action="logout"><i class="bi bi-box-arrow-left"></i>Log Out</a>
                    </ul>
                </div>
            </div>

            <div class="col-md-9">
                <div class="tab-content ">
                    <div class="tab-pane active" id="user-settings">
                            <div class="tile user-settings ">
                                <h4 class="line-head">Settings</h4>
                                <form method="post" enctype="multipart/form-data">
                                    <div class="row mb-4">
                                        <div class="col-md-4">
                                            <label asp-for="Name">Name</label>
                                            <input class="form-control" asp-for="Name">
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="Surname">Surname</label>
                                            <input class="form-control" asp-for="Surname">
                                            <span asp-validation-for="Surname" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8 mb-4">
                                            <label asp-for="Username">Username</label>
                                            <input class="form-control" asp-for="Username" disabled>
                                            <span asp-validation-for="Username" class="text-danger"></span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-8 mb-4">
                                            <label asp-for="Email">Email</label>
                                            <input class="form-control" asp-for="Email">
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-md-8 mb-4">
                                            <label asp-for="Photo">Change profile photo</label>
                                            <input class="form-control" asp-for="Photo">
                                            <span asp-validation-for="Photo" class="text-danger"></span>
                                        </div>

                                    </div>
                                   
                                    <div class="col-md-12">
                                        <button formmethod="post" class="btn btn-primary" type="submit"><i class="bi bi-check-circle-fill me-2"></i> Save</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-secondary" asp-controller="dashboard" asp-action="index"><i class="bi bi-x-circle-fill me-2"></i>Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    <div class="tab-pane fade" id="user-messages">
                        <table class="table">
                            <thead>
                                <tr>
                               
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Contact item in Model.Contacts)
                                {
                                    <tr>

                                        <td>
                                            <ul class="list-group">
                                                <li class="list-group-item">Name: @item.Name</li>
                                                <li class="list-group-item">Email: <a href="mailto:@item.Email">@item.Email</a></li>
                                                <li class="list-group-item">Message:@item.CommentText</li>

                                            </ul>
                                        </td>
                                        <td>
                                            <a class="d-flex justify-content-center pt-5" asp-controller="user" asp-action="readmessage" asp-route-id="@item.Id">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5m8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
                                                </svg>
                                            </a>
                                        </td>
                                    </tr>

                                }


                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
           
        }
    </div>


</main>

